In [99]:
import numpy as np 
import pandas as pd
from sklearn.svm import SVC
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [100]:
# Melakukan Pembacaan Dataset 
dataset = pd.read_csv('Car_Evaluation.csv')

# Menampilkan dataset
dataset

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [101]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [102]:
dataset.describe()

       buying  maint doors persons lug_boot safety  class
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     2       2    small    low  unacc
freq      432    432   432     576      576    576   1210

Pre-Processing

In [103]:
#Checking Null Values
dataset.isna().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [104]:
#Checking Duplicates
data_duplicates_rows=dataset[dataset.duplicated()]
data_duplicates_rows

Empty DataFrame
Columns: [buying, maint, doors, persons, lug_boot, safety, class]
Index: []

In [105]:
#Removing Duplicates in any
dataset=dataset.drop_duplicates()
dataset

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [106]:
en = LabelEncoder()

dataset['buying'] = en.fit_transform(dataset['buying'])
dataset['maint'] = en.fit_transform(dataset['maint'])
dataset.doors.replace(('5more'),('5'),inplace=True)
dataset.persons.replace(('more'),('5'),inplace=True)
dataset['lug_boot'] = en.fit_transform(dataset['lug_boot'])
dataset['safety'] = en.fit_transform(dataset['safety'])
dataset['class'] = en.fit_transform(dataset['class'])

In [107]:
dataset

      buying  maint doors persons  lug_boot  safety  class
0          3      3     2       2         2       1      2
1          3      3     2       2         2       2      2
2          3      3     2       2         2       0      2
3          3      3     2       2         1       1      2
4          3      3     2       2         1       2      2
...      ...    ...   ...     ...       ...     ...    ...
1723       1      1     5       5         1       2      1
1724       1      1     5       5         1       0      3
1725       1      1     5       5         0       1      2
1726       1      1     5       5         0       2      1
1727       1      1     5       5         0       0      3

[1728 rows x 7 columns]

In [108]:
#split dataset
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 6].values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.2)

In [109]:
#Feature scaling
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [110]:
# SVM using Linear kernel
svm_linear= SVC(kernel='linear',random_state=42)

In [111]:
svm_linear.fit(X_train,y_train)

SVC(kernel='linear', random_state=42)

In [112]:
y_pred_test_svm=svm_linear.predict(X_test)

In [113]:
accuracy_score_svm=accuracy_score(y_test,y_pred_test_svm)
accuracy_score_svm

0.7052023121387283

In [114]:

print('\nHASIL KLASIFIKASI:\n\n', classification_report(y_test, y_pred_test_svm, zero_division=1))

HASIL KLASIFIKASI:

               precision    recall  f1-score   support

           0       0.42      0.14      0.21        79
           1       1.00      0.00      0.00        17
           2       0.73      0.97      0.83       240
           3       1.00      0.00      0.00        10

    accuracy                           0.71       346
   macro avg       0.79      0.28      0.26       346
weighted avg       0.68      0.71      0.63       346